body:before {
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	background: url('../public/buffalo_bg.png') no-repeat center center;
	/* background-color: lime; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.collection {
	position: absolute;
	width: 78px;
	top: 75px !important;
	left: 60px !important;
}

.hovercollection:hover {
	cursor: pointer;
	background-color: rgb(210, 210, 210);
}

.color-swatch-accordion-details {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.g-recaptcha {
	width: 304px;
	margin: auto;
}

/* Toxic Wave Logo */

.newsidebar {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.65);
}

.left80p {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	height: 100%;
	background-color: #171612;
}

.left80p > * {
	width: 100%;
}

.row80 {
	height: 80px;
}
.x-text {
	cursor: pointer;
	width: 50px !important;
}
.reststack {
	height: calc(100vh - 80px);
	display: flex;
}

.nospace-link {
	padding: 0px;
}
.logo.container {
	width: auto;
	height: auto;
	max-width: 264px;
	max-height: 70px;
	padding: 0.5rem 0.5rem 0 0.5rem;
	position: relative;
	align-self: center;
}

.shop-card {
	max-width: 700px !important;
	will-change: transform;
}
.shop-card-content {
	max-height: 400px;
	max-width: 600px;
	width: 100%;
	aspect-ratio: 3/2;
	margin: auto;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.shop-card-content.thumbnail {
	border-radius: 4px;
	display: block;
	width: 90%;
	height: auto;
	object-fit: contain;
}

.centered-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.fullcard {
	height: 385px;
	cursor: pointer;
}

.fullcard.navy {
	/* background-color: rgba(0, 22, 82, 1) !important; */
	background-color: rgba(0, 0, 0, 0.7) !important;
}

.disabledButton {
	background-color: #4a473a !important;
	color: #fff !important;
	pointer-events: none;
	opacity: 90%;
}

.shopping-cart {
	cursor: pointer;
	position: relative;
	height: 100%;
}

.shopping-cart > .icon {
	position: absolute;
	left: -5px;
	right: 0;
	top: 4px;
	margin-left: auto;
	margin-right: auto;
	/* font-size: larger; */
	line-height: 1;
	color: black;
}
@media (max-width: 600px) {
	.shopping-cart > .icon {
		top: -4px;
	}
}

.stepper-button,
.stepper-quantity {
	width: 40px;
	height: 40px;
}

.stepper-quantity {
	font-size: 20px !important;
}

.lightcard,
.darkcard {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.landing-area {
	height: 100%;
	min-height: 400px;
}

.separator {
	height: 10vh;
	position: relative;
}

.separator.top {
	bottom: -1px;
}

.separator.bottom {
	top: -1px;
}

.picacho-white-logo {
	min-width: calc(min(90vw, 300px));
	width: 70%;
	/* height: 30vh; */
	object-fit: contain;
}

.strokeme {
	color: white;
	text-shadow: 2px 2px 0px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.about-us-img-text {
	width: 90%;
	height: 100px;
	object-fit: contain;
}
.stroke-text {
	/* font-size:100px; */
	text-align: center;
	text-anchor: middle;
	stroke: black;
	stroke-width: 2px;
	fill: white;
}

.home-media.container {
	scroll-snap-align: start;
	/* min-height: calc(100vh - 80px); */
	height: 100%;
	padding: 1rem;
	width: 100vw;
}

.flip-card {
	width: 100%;
	height: 100%;
}

.checkout.container {
	/* min-height: calc(100vh - 80px); */
	/* height: calc(100% - 80px); */
	height: 100%;
	/* max-height: calc(100vh - 80px); */
	padding: 1rem;
	width: 100vw;
	overflow-y: scroll;
}

.home-media.container.light {
	/* background-color: linear-g; */
	/* background: linear-gradient(90deg, #f8f8f8 0%, #eaebea 101.99%); */
	background: white;
}
.home-media.container.dark {
	background-color: black;
}

.home-media.image {
	width: 100%;
	object-fit: contain;
}

.dontfill {
	flex: 0 1 auto;
}
.home-media.video-wrapper {
	flex: 1 1 auto;
	aspect-ratio: 16/9;
	margin: auto;
	width: 100%;
}

.bounceimage {
	width: 41.1px;
	height: 41.1px;
}

.scroll-snap {
	width: 100%;
	height: 100%;
	max-height: calc(100% - 80px);
	/* scroll-snap-type: y mandatory; */
	/* Reserve space for header plus some extra space for sneak peeking. */
	/* scroll-padding-top: 3vh; */
	/* scroll-behavior: smooth; */
	overflow-y: scroll;
	overflow-x: visible;
}

.topnav {
	height: 80px;
	background: linear-gradient(90deg, #f8f8f8 0%, #eaebea 101.99%);
	box-shadow: none;
	/* min-height: '6vh'; */
}

.footer-media.image {
	width: 50px;
	height: 50px;
}

.moonsun {
	cursor: pointer;
	width: 90%;
	aspect-ratio: 1;
}

.moonsun.container {
	min-height: 94vh;
	width: 100%;
	display: flex;
	justify-content: center;
}
.profile-picture {
	width: 240px;
	aspect-ratio: 1;
}
.aboutus {
	display: flex;
	flex-direction: column;
	background-color: transparent !important;
	margin: 1rem;
	background: transparent;
	justify-content: center;
	min-height: 91vh;
}

.landmeetssky {
	text-align: left;
	font-weight: 600;
	background-color: #fed782 !important;
	/* background-color: #fdf9d5 !important; */
	/* background-image: url('../public/mountain_bg10.jpg'); */
	background: transparent;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.airski {
	text-align: right;
	font-weight: 600;
	background-color: #14264e !important;
	/* background-color: rgb(0, 0, 0) !important; */
	margin-top: -10px;
	/* background-image: url('../src/assets2/air_ski.jpg'); */
}

.airski > * {
	color: white;
}

.custom-shape-divider-top-1668472425 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1668472425 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 199px;
	transform: rotateY(180deg);
}

.custom-shape-divider-top-1668472425 .shape-fill {
	fill: #ffffff;
}

.hoodie-stitch.container {
	max-height: 548px;
	max-width: 514.3px;
	min-width: 257.15px;
	min-height: 300px;
	position: relative;
	align-self: center;
}

.hoodie-stitch.checkout:hover {
	transform: scale(3) translateY(50px);
	/* transform: translateY(-50); */
}

/* .hoodie-stitch.container:hover {
	overflow: hidden;
	transform-origin: 10 0 100 0;
	transition: transform .25s, visibility .25s ease-in;
	transform: scale(2);
} */

.hoodie-stitch-only.stitch {
	position: absolute;
	left: 0px;
	width: 100%;
	z-index: 100;
	top: 30%;
}
.hoodie-stitch-only.outline {
	position: absolute;
	left: 0px;
	top: 30%;
	width: 100%;
	z-index: 110;
}
.hoodie-stitch-only.gradient {
	z-index: 105 !important;
}
.hoodie-stitch.gradient {
	z-index: 105 !important;
}
.hoodie-stitch.stitch {
	position: absolute;
	width: 37%;
	left: 31.5%;
	top: 30%;
	z-index: 100;
}

.hoodie-stitch.outline {
	position: absolute;
	width: 37%;
	left: 31.5%;
	top: 30%;
	z-index: 110;
}

.hoodie-stitch.hoodie,
.hoodie-stitch-only.hoodie {
	height: auto;
	width: 100%;
}
.hoodie-stitch-only.hoodie {
	opacity: 70%;
}

.hoodie-stitch.alt {
	height: 100%;
	width: 60%;
}

/* .toxic-wave-logo.selected {
  opacity: 100%;
}
.toxic-wave-logo:hover {
  opacity: 100%;
} */

/* Hoodie Base */
.hoodie-base {
	aspect-ratio: 6/7;
	height: 600px;
}

/* Swatch Group */
.swatch-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
}

/* Individual Swatch Selector Group */
.swatch-selector-group {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.swatch-label {
	cursor: pointer;
}
.swatch-label.selected {
	background-color: rgba(255, 255, 255, 0.08);
}
.swatch-carousel.item {
	width: 60px !important;
}
.carousel-container {
	/* direction: ltr; */
	position: unset !important;
	/* width: 100%; */
	/* height: 100%; */
	/* z-index: 1; */
}

.react-multiple-carousel__arrow {
	position: absolute;
}

.react-multiple-carousel__arrow--left {
	left: 6px !important;
}

.react-multiple-carousel__arrow--right {
	right: 6px !important;
}
/* Color Swatch */
.color-swatch {
	aspect-ratio: 1;
	padding: 1px;
	height: 30px;
	margin: 8px 8px 0px 8px;
	opacity: 100%;
}
.color-swatch:hover {
	opacity: 100%;
}
.color-swatch.selected {
	border: solid 3px black;
	padding: 1px;
	border-radius: 10px;
	opacity: 100%;
}

.navlink {
	text-decoration: none;
	margin-right: 1rem;
	color: inherit;
}
.navlink:hover {
	text-decoration: underline;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateX(0);
	}
}

.movein {
	/* This section calls the slideInFromLeft animation we defined above */
	animation: 1s ease-in-out 0s 1 slideInFromLeft;

	/* background: #333; */
	/* padding: 30px; */
}

.App {
	text-align: center;
	/* background-image: url('../public/mnote_bg1.png'); */
	/* background-image: url('../public/mountain_bg.jpg'); */

	/* background-image: url('../public/buffalo_bg.png');
	min-height: 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover; */
}

.App-content {
	/* height: calc(100%-80px); */
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@media (max-width: 900px) {
	.swatch-carousel.container {
		max-width: 500px;
	}
}

@media (min-width: 650px) {
	.App {
		background-position: center center;
	}

	.App-content {
		align-items: flex-end;
		justify-content: center;
	}
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	/* background-color: #282c34; */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
