body:before {
	content: '';
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: -10;
	background: url('../public/buffalo_bg.png') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.cord-hat-image-ratio {
	aspect-ratio: 1.7979;
}

.collection {
	position: absolute;
	width: 78px;
	top: 72px !important;
	left: 60px !important;
}

.hovercollection,
.hovercollectiontitle {
	user-select: none;
	-webkit-user-select: none;
}

.hovercollection:hover {
	cursor: pointer;
	background-color: rgb(210, 210, 210);
}

.color-swatch-accordion-details {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.g-recaptcha {
	width: 304px;
	margin: auto;
}

.newsidebar {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: rgba(20, 39, 78, 0.65);
	/* background-color: rgb(20, 39, 78); */
}

.left80p {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 80%;
	height: 100%;
	background-color: rgb(20, 39, 78);
	/* background-color: #171612; */
}

.error-gif {
	width: 175px !important;
}

.left80p > * {
	width: 100%;
}

.row80 {
	height: 80px;
}
.x-text {
	cursor: pointer;
	width: 50px !important;
}

.logo.container {
	width: auto;
	flex-shrink: 2;
	height: auto;
	max-width: 264px;
	min-height: 80px;
	margin: 0 8px;
	/* padding: 0 8px; */
	position: relative;
	align-self: center;
}

.navbar-image {
	width: 100%;
	height: 100%;
}

.shop-card {
	max-width: 700px !important;
	will-change: transform;
}
.shop-card-content {
	max-height: 400px;
	max-width: 600px;
	width: 100%;
	aspect-ratio: 3/2;
	margin: auto;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
}

.shop-card-content.thumbnail {
	border-radius: 4px;
	display: block;
	width: 90%;
	height: auto;
	object-fit: contain;
}

.centered-content {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.disabledButton {
	background-color: #4a473a !important;
	color: #fff !important;
	pointer-events: none;
	opacity: 90%;
}

.shopping-cart {
	cursor: pointer;
	position: relative;
	height: 100%;
}

.shopping-cart > .icon {
	background-color: #fa4616;
	border-radius: 20px;
	color: #fff;
	font-size: 1rem;
	font-weight: 600;
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 0px;
	text-align: center;
	top: 1px;
	width: 20px;
}
@media (max-width: 600px) {
	.shopping-cart > .icon {
		top: -10px;
	}
}

.stepper-button,
.stepper-quantity {
	width: 40px;
	height: 40px;
}

.stepper-quantity {
	font-size: 20px !important;
}

.lightcard,
.darkcard {
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.landing-area {
	height: 100%;
	min-height: 400px;
}

.separator {
	height: 10vh;
	position: relative;
}

.separator.top {
	bottom: -1px;
}

.separator.bottom {
	top: -1px;
}

.picacho-white-logo {
	min-width: calc(min(90vw, 300px));
	width: 70%;
	object-fit: contain;
}

.strokeme {
	color: white;
	text-shadow: 2px 2px 0px #000000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
}

.about-us-img-text {
	width: 90%;
	height: 100px;
	object-fit: contain;
}
.stroke-text {
	text-align: center;
	text-anchor: middle;
	stroke: black;
	stroke-width: 2px;
	fill: white;
}

.home-media.container {
	scroll-snap-align: start;
	height: 100%;
	padding: 1rem;
	width: 100%;
}

.flip-card {
	width: 100%;
	height: 100%;
}

.checkout.container {
	height: 100%;
	padding: 1rem;
	width: 100%;
	/* overflow-y: scroll; */
}

.home-media.container.light {
	background: white;
}
.home-media.container.dark {
	background-color: #14274e;
}
a {
	color: #ffbd29;
}
a.on-light-bg {
	color: #14274e;
}

.scrollArrows {
	border: none;
	width: 20px;
	height: 240.54px;
	z-index: 10;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	cursor: pointer;
}

.scrollArrows:hover {
	background-color: #c7c7c7;
}
.scrollArrows.right {
	right: 0;
}
.scrollArrows.left {
	left: 0;
}
.scrollArrows.left > * {
	rotate: 180deg;
}

.home-media.image {
	width: 100%;
	object-fit: contain;
}

.dontfill {
	flex: 0 1 auto;
}
.home-media.video-wrapper {
	flex: 1 1 auto;
	aspect-ratio: 16/9;
	margin: auto;
	width: 100%;
}

.bounceimage {
	width: 41.1px;
	height: 41.1px;
}

.scroll-snap {
	width: 100%;
	height: 100%;
	max-height: calc(100% - 80px);
	/* overflow-y: scroll; */
	/* overflow-x: visible; */
}

.topnav {
	height: 80px;
	background: linear-gradient(90deg, #f8f8f8 0%, #eaebea 101.99%);
	box-shadow: none;
	/* min-height: '6vh'; */
}

.footer-media.image {
	width: 50px;
	height: 50px;
}

.aboutus {
	display: flex;
	flex-direction: column;
	background-color: transparent !important;
	margin: 1rem;
	background: transparent;
	justify-content: center;
	min-height: 91vh;
}

.hoodie-stitch.container {
	max-height: 548px;
	max-width: 514.3px;
	min-width: 257.15px;
	min-height: 300px;
	position: relative;
	align-self: center;
}

.hoodie-stitch.checkout:hover {
	transform: scale(3) translateY(50px);
	/* transform: translateY(-50); */
}

.hoodie-stitch-only.stitch {
	position: absolute;
	left: 0px;
	width: 100%;
	z-index: 100;
	top: 30%;
}
.hoodie-stitch-only.outline {
	position: absolute;
	left: 0px;
	top: 30%;
	width: 100%;
	z-index: 110;
}
.hoodie-stitch-only.gradient {
	z-index: 105 !important;
}
.hoodie-stitch.gradient {
	z-index: 105 !important;
}
.hoodie-stitch.stitch {
	position: absolute;
	width: 37%;
	left: 31.5%;
	top: 30%;
	z-index: 100;
}

.hoodie-stitch.outline {
	position: absolute;
	width: 37%;
	left: 31.5%;
	top: 30%;
	z-index: 110;
}

.hoodie-stitch.hoodie,
.hoodie-stitch-only.hoodie {
	height: auto;
	width: 100%;
}
.hoodie-stitch-only.hoodie {
	opacity: 70%;
}

.hoodie-stitch.alt {
	height: 100%;
	width: 60%;
}

/* .toxic-wave-logo.selected {
  opacity: 100%;
}
.toxic-wave-logo:hover {
  opacity: 100%;
} */

/* Hoodie Base */
.hoodie-base {
	aspect-ratio: 6/7;
	height: 600px;
}

/* Swatch Group */
.swatch-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
}

/* Individual Swatch Selector Group */
.swatch-selector-group {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.swatch-label {
	cursor: pointer;
}
.swatch-label.selected {
	background-color: rgba(255, 255, 255, 0.08);
}
.swatch-carousel.item {
	width: 60px !important;
}
.carousel-container {
	/* direction: ltr; */
	position: unset !important;
	/* width: 100%; */
	/* height: 100%; */
	/* z-index: 1; */
}

.react-multiple-carousel__arrow {
	position: absolute;
}

.react-multiple-carousel__arrow--left {
	left: 6px !important;
}

.react-multiple-carousel__arrow--right {
	right: 6px !important;
}
/* Color Swatch */
.color-swatch {
	aspect-ratio: 1;
	padding: 1px;
	height: 30px;
	margin: 8px 8px 0px 8px;
	opacity: 100%;
}
.color-swatch:hover {
	opacity: 100%;
}
.color-swatch.selected {
	border: solid 3px black;
	padding: 1px;
	border-radius: 10px;
	opacity: 100%;
}

.navlink {
	text-decoration: none;
	margin-right: 1rem;
	color: inherit;
}
.navlink:hover {
	text-decoration: underline;
}

.App {
	text-align: center;
}

.App-content {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

@media (max-width: 900px) {
	.swatch-carousel.container {
		max-width: 500px;
	}
}

@media (min-width: 650px) {
	.App {
		background-position: center center;
	}

	.App-content {
		align-items: flex-end;
		justify-content: center;
	}
}

.test-small-pic {
	width: 150px;
}

.explorer-hat-container {
	background: linear-gradient(90deg, #f8f8f8 0%, #eaebea 101.99%);
	margin: 0;
	padding: 1rem;
	width: 100%;
	height: 100%;
}
